@import "./Common";

.about {
    flex-grow: 1;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $text-black-color;
    }

    a:hover {
        color: $text-hover-color;
    }
}

.text_wrapper {
    // Should show 80 characters max
    max-width: 38rem;
}