@import "./Common";

.menu {
    background-color: $menu-background-color;

    @include media-breakpoint-down(md) {
        min-height: 5.25rem;
    }

    a {
        color: $menu-text-color;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;

        &:hover {
            color: $menu-hover-color;
        }
    }
}