$white-color: rgb(249, 249, 251);
$yellow-bright-color: #F9F871;
$text-white-color: #f5f5f5;
$text-black-color: rgb(23, 23, 23);
$text-hover-color: #df0101;
$text-selected-color: #004dbe;
$menu-text-color: $text-white-color;
$menu-hover-color: $yellow-bright-color;

$menu-background-color: #2A2C1E;
$body-background-color: $white-color;
$footer-background-color: #2A2C1E;
$consolas-font-family: consolas, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;