@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-grid-only-css/scss/bootstrap-grid";
@import "@fortawesome/fontawesome-free/css/fontawesome.min";
@import "@/components/Common";

html[data-theme="embed"] {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    body,
    body>div {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-background-color;
}

.App {
    color: $text-black-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 3em;

    .external_container {
        width: 90%;
    }
}

.App-link {
    color: #61dafb;
}

.top-section {
    min-height: calc(100vh - 4em);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

iframe {
    border: none;
}